* {
   box-sizing: border-box;
}

a {
   color: inherit;
}

/*------------------*/
a:hover {
   background-color: grey;
}
/*:hover — псевдокласс в CSS.
Что делает: применяет стили, когда пользователь наводит курсор на элемент.
Где используется: чаще всего — для кнопок, ссылок, иконок (например, подсветка при наведении)*/
/*! Важно: работает только на интерактивных элементах (или блочных, если явно задана высота/ширина).*/

/*------------------*/
button {
   border: none;
   background-color: transparent;
   cursor: pointer;
}
/* transparent — значение цвета в CSS.
Что делает: делает элемент полностью прозрачным (невидимым).
Где используют:
фоны (background-color: transparent;)
границы (border-color: transparent;)
для скрытия без удаления элемента. */

/*------------------*/
a:link {
   color: blue;
}
/*:link Что делает: выбирает непосещённые ссылки (<a href="...">).*/

/*------------------*/
a:visited {
   color: darkcyan;
}
/* :visited Что делает: выбирает уже посещённые ссылки. */

/*! Работают только с <a> и href. */
/*! :visited ограничен по стилям (например, нельзя менять background-image, position, и др.) — это сделано из соображений безопасности. */

/*------------------*/
a:active {
   color: red;
}
/* :active Что делает: выбирает ссылки, которые в данный момент нажаты. */
/* !:active работает только с <a> и href. */
/* !:active не работает с кнопками, для них используется псевдокласс :focus. */
